<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>아파트 리스트</title>
    <script type="text/javascript" src="/scripts/jquery-ui/jquery.min.js"></script>
    <script type="text/javascript" src="/scripts/common/common-ui.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div>
    <h2>아파트 리스트<br></h2>
    <table>
        <tr th:each="data : ${apartmentList}">
            <td style="padding:0 0 10px 0;"><a
                    th:href="@{/get/space_info(aptCode=${data.aptCode})}"
                    th:text="${data.aptName}" th:value="${data.aptCode}"
            ></a></td>
        </tr>
    </table>
</div>
</body>
</html>

