<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>홈트윈</title>
    <script type="text/javascript" src="/scripts/jquery-ui/jquery.min.js"></script>
    <script type="text/javascript" src="/scripts/common/common-ui.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div>
    <h2>아파트 썸네일<br></h2>
    <div><img th:src="${url}" width="500px" height="500px"/></div>
    <br>
    <button class="btn btn-default" id="btn-download"
            th:onclick="|location.href='@{/get/hometwin(aptCode=${data.aptCode}, sizeType=${data.sizeType}, styleType=${data.styleType})}'|">다운로드</input>
    <input type="hidden" id="aptCode" th:value="${data.aptCode}"></input>
    <input type="hidden" id="sizeType" th:value="${data.sizeType}"></input>
    <input type="hidden" id="styleType" th:value="${data.styleType}"></input>
    <div id="fileList"></div>
</div>
<script>
</script>
</body>
</html>

