<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>아파트 평형 리스트</title>
    <script type="text/javascript" src="/scripts/jquery-ui/jquery.min.js"></script>
    <script type="text/javascript" src="/scripts/common/common-ui.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div>
    <h1>아파트 썸네일</h1>

    <table>
<!--        <tr th:each="data : ${sizeList}">-->
<!--            <td><a-->
<!--                    th:href="@{/get/thumnail(aptCode=${session['aptCode']}, sizeType=${data.sizeType}, styleType=${data.styleType})}"-->
<!--                    th:text="${data.sizeType}"-->
<!--            ></a></td>-->
<!--            <td-->
<!--                    th:if="${data.styleType.toString().equals('base')}"-->
<!--                    th:text="기본형"-->
<!--            ></td>-->
<!--            <td-->
<!--                    th:unless="${data.styleType.toString().equals('base')}"-->
<!--                    th:text="확장형"-->
<!--            ></td>-->
<!--        </tr>-->
    </table>
</div>
</body>
</html>

