<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>아파트 평형 리스트</title>
    <script type="text/javascript" src="/scripts/jquery-ui/jquery.min.js"></script>
    <script type="text/javascript" src="/scripts/common/common-ui.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div>
    <h2>아파트 평형 리스트<br></h2>

    <table>
        <tr th:each="data : ${sizeList}">
            <td ><a style="padding:0 0 3px 0;"
                    th:href="@{/get/image/thumbnail(aptCode=${data.aptCode}, sizeType=${data.sizeType}, styleType=${data.styleType})}"
                    th:text="${data.sizeType}"
            ></a></td>
            <td style="padding:0 0 0 20px;"
                    th:if="${data.styleType.toString().equals('base')}"
                    th:text="기본형"
            ></td>
            <td style="padding:0 0 0 20px;"
                    th:unless="${data.styleType.toString().equals('base')}"
                    th:text="확장형"
            ></td>
        </tr>
    </table>
</div>
</body>
</html>

